<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="applicationName" source="spring.application.name"/>
    <springProperty scope="context" name="maxFileSize" source="log.max.file.size"/>
    <springProperty scope="context" name="totalSize" source="log.total.size"/>
    <springProperty scope="context" name="maxHistory" source="log.max.history"/>
    <springProperty scope="context" name="logFolder" source="log.folder"/>
    <property name="PATTERN" value="%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] [app_name=${applicationName}, trace_id=%X{traceId:-}, span_id=%X{spanId:-}] %-5level %logger{36}.%M - %msg%n" />
    <appender name="FILE-AUDIT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logFolder}/spring-kafka-producer.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>${PATTERN}</Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logFolder}/spring-kafka-producer.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>${maxHistory}</maxHistory>
        </rollingPolicy>

    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="com.pandz.spring_kafka_producer" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE-AUDIT" />
    </logger>

    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE-AUDIT" />
    </root>
</configuration>